<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
</head>

<body>
	<div class="grad">

		<img onclick="history.back()" width="80px" align="left" style="margin-left: 0px;"
			class="leftImage" src="images/back_arrow.png">

		<div class="container">
			<div class="jumbotron" style="z-index: -1">
				<h3 class="title">LIFTR</h3>
			</div>
		</div>
		
		<div class="progressbar-wrapper">
			<ul class="progressbar">
				<li></li>
				<li></li>
				<li class="active"></li>
			</ul>
		</div>

		<br>
		<br>
		<br>
		
		<div class="container">	
			<h2 style="font-family: 'Fredoka One'; font-size: 25px;">
				Confirm Your Information:</h2>

			<br>
			
			<div id="contactInfo">
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">Your Name:<b>{{firstName}} {{lastName}}</b></h4>
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">Your Main Focus:<b> {{level}}</b></h4>
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">When you Plan to Workout: <b> {{when}}</b></h4>
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">Your Gym: <b> {{gym}}</b></h4>
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">What You Want to Work on:<br> <b> {{wantsTo}}</b></h4>
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">Your Phone Number: <b> {{phone}}</b></h4>
			</div>

			<br>
			<br>
			<br>

			<a href="recommended"> <button type="submit"
				class="button1" name="pls">Confirm and Continue!</button></a>

		
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
