<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-158827415-1', 'auto');
		ga('require', 'GTM-KQHR8MD');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->

</head>

<body>
	<div class="grad">

		<img onclick="history.back()" width="80px" align="left" style="margin-left: 0px;"
			class="leftImage" src="images/back_arrow.png">

		<div class="container">
			<div class="jumbotron" style="z-index: -1"></div>
				<h3 class="title">LIFTR</h3>

		</div>
		
		<div class="progressbar-wrapper">
			<ul class="progressbar">
				<li></li>
				<li></li>
				<li class="active"></li>
			</ul>
		</div>

		<br>
		<br>
		<br>
		
		
		<div class="container">	
			<h2 style="font-family: 'Fredoka One'; font-size: 25px; text-align: center;">
				Confirm Your Information:</h2>

			<br>
			<br>
			
			<div id="contactInfo">
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">Your Name:<b> {{firstName}} {{lastName}}</b></h4>
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">Your Main Focus:<b> {{level}}</b></h4>
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">When you Plan to Workout: <b> {{when}}</b></h4>
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">Your Gym: <b> {{gym}}</b></h4>
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">Your Specific Workouts: <b> {{wantsTo}}</b></h4>
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">Your Long Term Goals: <b> {{longTerm}}</b></h4>
				<h4 style="font-family: 'Helvetica'; font-size: 18px;">Your Phone Number: <b> {{phone}}</b></h4>
			</div>

			<br>
			<br>
	

			<div style="text-align: center;">
				<a href="recommended"> <button type="submit"
					class="button2" name="pls">Confirm and Continue!</button></a>
			</div>
		
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
