
<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h3 class="title">LIFTR</h3>
		</div>
		
	

		<h1 align="center">Posts</h1>

		{{#each posts}}
			<form name={{name}} class="thumbnail" method="get" action="/findPost" class="posts">
			<button name="{{name}}">
          	<h2 name="{{name}}"> {{name}} <img border="0" width="50px" align="Right" src="images/rightArrow.png"> </h2>
			<h3>{{level}}</h3>
			<h3>Gym: {{gym}}</h3>
			<h3>When: {{when}}</h3>
		  	<h3>Wants to: {{wantsToLearn}}</h3>
        	</button>
			</form>
    	{{/each}}
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="toolbar">
		<a href="add-post">
			<button class="toolbar-addPost" onclick="window.location.href = 'add-posts';">
				Filter
			</button>
		</a>
		<a href="index">
			<button class="toolbar-home" onclick="window.location.href = 'index';">
				Home
			</button>
		</a>
		<a href="create-profile">
			<button class="toolbar-profile" onclick="window.location.href = 'create-profile';">
				Profile
			</button>
		</a>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>
</html>