
<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
</head>

<body>
	<div class="grad">
			<div class="jumbotron">
			</div>

			<h3 class="title">LIFTR</h3>
			<h1 align="center" id="AllPosts">All Posts</h1>


			<h4 style="text-align:center;">Can't find what you're looking for?</h4>
		
			<a href="fullAdder">
				<h4 style="text-align:center;">Add Post</h4>
			</a>
			<br>
		

			{{#each posts}}
				<form name={{name}} method="get" action="/findPost" align="center">
					<button name="{{name}}" class="card" style="border-color: {{color}}";>
						<h3 id="AllPosts" style="color: {{color}};">Main Focus: {{level}}</h3>
						<img border="0" width="35px"
							align="Right" src="images/bubbleRight.png" >
						<h3 id="AllPosts">&nbsp; &ensp; When: {{when}}</h3>
						<h3 id="AllPosts">Gym: {{gym}}</h3>
						<h3 id="AllPosts" name="{{name}}"> {{name}} </h3>
					</button>
				</form>
				<br>
				<br>
			{{/each}}
			
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		</div>
	
	</div>

	<div class="toolbar">
		<a href="add-post">
			<button class="toolbar-filter" onclick="window.location.href = 'add-posts';">
				Add Post
			</button>
		</a>
		<a href="recommended">
			<button class="toolbar-home" onclick="window.location.href = 'index';">
				Home
			</button>
		</a>
		<a href="create-profile">
			<button class="toolbar-profile" onclick="window.location.href = 'create-profile';">
				Profile
			</button>
		</a>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>
</html>