<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h3 class="title">LIFTR</h3>
		</div>

		<!--
		<ol>
    	{{#each posts}}
     		 <li><a href="#{{id}}">{{name}}</a></li>
    	{{/each}}
    	</ol>
		-->
		<h1 align="center">Posts</h2>

		<a href="rimac"><input type="checkbox" name="vehicle1" class="RIMAC" value="Bike">
		<label for="vehicle1"> RIMAC</label><br></a>
		<input type="checkbox" name="vehicle2" class="mainGym" value="Car">
		<label for="vehicle2"> Main Gym</label><br>
		<input type="checkbox" name="vehicle3" class="beg" value="Boat">
		<label for="vehicle3"> Novice</label><br>
		<input type="checkbox" name="vehicle3" class="inter" value="Boat">
		<label for="vehicle3"> Intermediate</label><br>
		<input type="checkbox" name="vehicle3" class="adv" value="Boat">
		<label for="vehicle3"> Advanced</label><br>

		{{#each posts}}
    	  <div class="posts" id="{{id}}">
        	<a href="posts" class="thumbnail">
          	<h2> {{name}} <img border="0" width="50px" align="Right" src="images/rightArrow.png"> </h2>
			<h3>{{level}}</h3>
			<h3>Gym: {{gym}}</h3>
			<h3>Goals: {{goals}}</h3>
		  	<h3>Wants to: {{wantsToLearn}}</h3>
        	</a>
      	</div>
    	{{/each}}
	</div>

	<div class="toolbar">
		<button class="toolbar-messages"><a href= "notDone" class="toolbar-messages">
			My Messages
		</a></button>
		<button class="toolbar-feed"><a href= "notDone" class="toolbar-feed">
			Add Post
		</a></button>
		<button class="toolbar-profile"><a href= "notDone" class="toolbar-profile">
			Profile
		</a></button>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
