<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <!-- Google Analytics -->
	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-158827415-1', 'auto');
    ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->

</head>

<body>
  <div class="grad">
    <img onclick="history.back()" width="80px" align="left" style="margin-left: 0px;"
			class="leftImage" src="images/back_arrow.png">
    <br>
    {{#each posts}}
      <h4 class="theHead"> </a> Potential Partner &ensp; &ensp;</h4> 

      <h4 id="theName" style="text-align: center;" class="theHead">{{name}} &ensp; &ensp; &nbsp;</h4>

      <br>

      <div class="important">
        <p class="card1"> Main Focus: <br> {{level}} </p>
      </div>
      <br>
      <div class="important">
        <div class="card1"> Gym: {{gym}} <br>
          When: {{when}}
        </div>
      </div>

      <div class="card2" align="center">
        <h2>Specific Workouts: <br>
          {{wantsToLearn}}</h2>
      </div>

      <div class="card3" align="center">
        <h2>Phone Number: <br>
          {{phone}}</h2>
      </div>

      <br>

    {{/each}}

      <div class="comment">
  <textarea id="title" style="font-size:20px;" type="text "rows="1" cols="25" onkeyup="Allow()" placeholder="&nbsp;Write a Comment..."></textarea>
  <input id="title" type="submit" value="Post" onclick="insert()" style="font-size:20px; width:75px; height: 35px; background-color:hsl(205, 96%, 82%); display: inline-block;" /></form>
  </div>
  <div id="display"></div>
  <script type="text/javascript">
  var titles = [];
  var titleInput = document.getElementById("title");
  var messageBox = document.getElementById("display");
  function Allow()
  {
  }
  function insert () {
  titles.push(titleInput.value);
  clearAndShow();
  }
  function clearAndShow ()
  {
  titleInput.value = "";
  messageBox.innerHTML = "";
  messageBox.innerHTML += "Tone Xu: " + titles.join("<br/> Tone Xu: ") + "<br/>";
  }
  </script>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <!-- the bottom of the page -->
    <div class="toolbar">
		<a href="recommended">
			<button class="toolbar-home" onclick="window.location.href = 'index';">
				<img border="0" width="58px" align="center"
					src="images/housePic.png">
			</button>
		</a>

		<a href="fullAdder">
			<button class="toolbar-filter" onclick="window.location.href = 'add-posts';">
				<img border="0" width="55px" align="center"
							src="images/plusSign.png">
			</button>
		</a>

		<a href="create-profile">
			<button class="toolbar-profile" onclick="window.location.href = 'create-profile';">
				<img border="0" width="65px" align="center"
							src="images/profilePic.png">
			</button>
		</a>
	</div>

  </div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
