
<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h3 class="title">LIFTR</h3>
		</div>
		
	

		<h1 align="center">Recommended Posts</h1>

		<h5 style="display:inline;"> Can't find what you're looking for?</h5>
		<a href="fullAdder">
			<h5 style="display:inline;"> Add Post</h5>
			</a>

		{{#each posts}}
    	  <div class="posts" id="{{id}}">
        	<a href="posts" class="thumbnail">
          	<h2> {{name}} <img border="0" width="50px" align="Right" src="images/rightArrow.png"> </h2>
			<h3>{{level}}</h3>
			<h3>Gym: {{gym}}</h3>
			<h3>When: {{when}}</h3>
		  	<h3>Wants to: {{wantsToLearn}}</h3>
        	</a>
      	</div>
    	{{/each}}
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="toolbar">
		<a href="add-post">
			<button class="toolbar-addPost" onclick="window.location.href = 'add-posts';">
				Filter
			</button>
		</a>
		<a href="index">
			<button class="toolbar-home" onclick="window.location.href = 'index';">
				Home
			</button>
		</a>
		<a href="create-profile">
			<button class="toolbar-profile" onclick="window.location.href = 'create-profile';">
				Profile
			</button>
		</a>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>
</html>