
<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-158827415-1', 'auto');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->

</head>

<body>
	<div class="grad">
	<div class="container">
		<div class="jumbotron">
		</div>

		<h3 class="title">LIFTR</h3>

		<h2 align="center" id="AllPosts">Recommended Posts</h2>

		<h4 align ="center">No Matches?</h4>

		<a href="index">
			<h4 align="center">View All Posts</h4>
		</a>

		<br>

		{{#if alt}}

			{{#each posts}}
				<form name={{name}} method="get" action="/findPost" align="center">
					<button name="{{name}}" class="card" style="border-color: {{color}}";>
						<h3 id="AllPosts"> When: {{when}}</h3>
						<img border="0" width="35px"
							align="Right" src="images/bubbleRight.png" >
						<h3 id="AllPosts"> &nbsp; &ensp; Gym: {{gym}}</h3>
						<h3 id="AllPosts" style="color: {{color}};">Main Focus: {{level}}</h3>
						<h3 id="AllPosts" name="{{name}}"> {{name}} </h3>
					</button>
				</form>
				<br>
				<br>
			{{/each}}

		{{else}}

			{{#each posts}}
				<form name={{name}} method="get" action="/findPost" align="center">
					<button name="{{name}}" class="card" style="border-color: {{color}}";>
						<h3 id="AllPosts" name="{{name}}"> {{name}} </h3>
						<h3 id="AllPosts" style="color: {{color}};"> Main Focus: {{level}}</h3>
						<img border="0" width="35px"
							align="Right" src="images/bubbleRight.png" >
						<h3 id="AllPosts"> &nbsp; &ensp; When: {{when}}</h3>
						<h3 id="AllPosts"> Gym: {{gym}}</h3>
					</button>
				</form>
				<br>
				<br>
			{{/each}}

		{{/if}}

	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	</div>

	<div class="toolbar">
		<a href="fullAdder">
			<button class="toolbar-filter" onclick="window.location.href = 'add-posts';">
				<img border="0" width="60px" align="center"
							src="images/plusSign.png">
			</button>
		</a>
		
			<button class="toolbar-home">
				<img border="0" width="60px" align="center"
							src="images/housePic.png">
			</button>
		<a href="update-profile">
			<button class="toolbar-profile" onclick="window.location.href = 'create-profile';">
				<img border="0" width="63px" align="center"
							src="images/profilePic.png">
			</button>
		</a>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>
</html>