
<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
	<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-159550550-1', 'auto');
ga('require', 'GTM-T3KD75G');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

</head>

<body>
	<div class="grad">
		<br>

		<h2 align="center" id="AllPosts">Recommended Posts</h2>

		<br>

		<form>
					<label style="float:left; margin-left:80px; font-size:20px">Time:</label>
					<select method="get" class="dropdown" id="dropWhen"
					style="margin-left:10px; width: 155px; height:28px; font-size: 20px;" name="when">
    				<option value = "none">No Preference</option>
						<option value="now">Now</option>
						<option value="in 1-2 hours">in 1-2 hours</option>
						<option value="in 3-4 hours">in 3-4 hours</option>
						<option value="in 5-6 hours">in 5-6 hours</option>
						<option value="in 7-8 hours">in 7-8 hours</option>
					</select>​
				
				

<p></p>
	
					<label style="float:left; margin-left:43px; font-size:20px">Location:</label>
					<select method="get" class="dropdown"
					name="where" style="margin-left:10px; width: 155px; height:28px; font-size: 20px;">
    				<option value = "none">No Preference</option>
					<option value = "RIMAC">RIMAC</option>
					<option value = "Main Gym">Main Gym</option>
					</select>​
					

			
					<button id="refreshBtn" style="border-radius: 8px;diplay:inline-block; margin-left: 10px;
					background-color:#3eebeb; border: 2px solid #222222;">
					<img  name="refresh"
					type="submit" value="Save" style="width:40px; height:40px" src="images/refresh.png">
					</button>

<p></p>
			
					<label style="float:left; margin-left:15px; font-size:20px">Main Focus:</label>
					<select method="get" class="dropdown" name="focus" style="margin-left:10px; width: 155px; height:28px; font-size: 20px;">
    				<option value = "none">No Preference</option>
					<option value = "Weightlifting">Weightlifting</option>
					<option value = "Bodyweight">Bodyweight</option>
					<option value = "Cardio">Cardio</option>
					</select>​
					
				</form>
					<br>
		<h4 align ="center">No Matches?</h4>

		<div align="center">
			<a href="index">
				<button class="button3">
					<h4><b>View All Posts</b></h4>
				</button>
			</a>
		</div>
		<br>
						<div class="container">


		{{#if alt}}

			{{#each posts}}
				<form name={{name}} method="get" action="/findPost" align="center">
					<button name="{{name}}" class="card" id="measurement" style="border-color: {{color}}";>
						<h3 id="AllPosts"> When: {{when}}</h3>
						<img border="0" width="35px"
							align="Right" src="images/bubbleRight.png" >
						<h3 id="AllPosts"> &nbsp; &ensp; Gym: {{gym}}</h3>
						<h3 id="AllPosts" style="color: {{color}};">Main Focus: {{level}}</h3>
						<h3 id="AllPosts" name="{{name}}"> {{name}} </h3>
					</button>
				</form>
				<br>
				<br>
			{{/each}}

		{{else}}

			{{#each posts}}
				<form name={{name}} method="get" action="/findPost" align="center">
					<button name="{{name}}" class="card" id="measurement" style="border-color: {{color}}";>
						<h3 id="AllPosts" name="{{name}}"> {{name}} </h3>
						<h3 id="AllPosts" style="color: {{color}};"> Main Focus: {{level}}</h3>
						<img border="0" width="35px"
							align="Right" src="images/bubbleRight.png" >
						<h3 id="AllPosts"> &nbsp; &ensp; When: {{when}}</h3>
						<h3 id="AllPosts"> Gym: {{gym}}</h3>
					</button>
				</form>
				<br>
				<br>
			{{/each}}

		{{/if}}

	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	</div>

	<div class="toolbar">
		<button class="toolbar-home">
			<img border="0" width="58px" align="center"
				src="images/housePic.png">
		</button>
			
		<a href="fullAdder">
			<button class="toolbar-filter" onclick="window.location.href = 'add-posts';">
				<img border="0" width="55px" align="center"
							src="images/plusSign.png">
			</button>
		</a>

		<a href="update-profile">
			<button class="toolbar-profile" onclick="window.location.href = 'create-profile';">
				<img border="0" width="65px" align="center"
							src="images/profilePic.png">
			</button>
		</a>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/hci-friends.js"></script>
</body>
</html>