<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h3 class="title">LIFTR</h3>
		</div>
		
		<h4>Add Filters:</h4>

		<div id="outer">
			
			<div class="RIMAC"><a href="novice" style="color:red" type="checkbox" name="rimac" class="RIMAC">
			<label for="rimac"> RIMAC</label><br></a></div>
			<a href="maingym-novice" type="checkbox" name="maingym" class="RIMAC">
			<label for="maingym"> Main Gym</label><br></a>
		</div>

		<div id="outer2">
			<div style="float: left;">
			<div class="skill"><a href="rimac" style="color:red" type="checkbox" name="novice" class="RIMAC">
			<label for="novice"> Novice</label><br></a></div></div>
			<div class="skill"><a href="rimac-intermediate" type="checkbox" name="intermediate" class="RIMAC">
			<label for="intermediate"> Intermediate</label><br></a></div>
			<div style="float: right;">
			<a href="rimac-expert" type="checkbox" name="expert" class="RIMAC">
			<label for="expert"> Expert</label><br></a></div>
		</div>

		<h1 align="center">Posts</h1>

		{{#each posts}}
    	  <div class="posts" id="{{id}}">
        	<a href="posts" class="thumbnail">
          	<h2> {{name}} <img border="0" width="50px" align="Right" src="images/rightArrow.png"> </h2>
			<h3>{{level}}</h3>
			<h3>Gym: {{gym}}</h3>
			<h3>Goals: {{goals}}</h3>
		  	<h3>Wants to: {{wantsToLearn}}</h3>
        	</a>
      	</div>
    	{{/each}}
	</div>

	<div class="toolbar">
		<button class="toolbar-messages"><a href= "view-messages" class="toolbar-messages">
			Messages
		</a></button>
		<button class="toolbar-feed"><a href= "add-post" class="toolbar-feed">
			Add Post
		</a></button>
		<button class="toolbar-home"><a href= "index" class="toolbar-home">
			Home
		</a></button>
		<button class="toolbar-profile"><a href= "create-profile" class="toolbar-profile">
			Profile
		</a></button>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
